In [2]:
import ee
ee.Initialize()

In [2]:
from src.geometries import (
    id_to_ee, 
    all_pastures, 
    gdf_from_df, 
    id_to_ee_center_point 
    )

from src.data_sampling import (
    times_series_pixels_of_area, 
    get_df_point
    )
from src.data_preprocessing import (
    landsat, 
    pr_PRISM 
    )
from src.data_postprocessing import (
    time_stamp_adding, 
    merge_dfs,
    mean_over_region
    )

/Users/vahid/Desktop/NDVI Analysis/src/geometries.py:21: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  all_pastures['centers'] = all_pastures['geometry'].to_crs(epsg="4326").centroid

In [17]:
import pandas as pd
from src.geometries import id_to_ee_center_point
from src.geometries import all_pastures
SR_langum_center = id_to_ee_center_point(all_pastures,2)

from src.data_preprocessing import pr_PRISM
get_df_point(pr_PRISM,SR_langum_center,30,['tmean','tmax','tmin','ppt'])

0            id  longitude   latitude           time  ...  Year Month Day  DOY
0      19810101 -96.995817  44.240366   347112000000  ...  1980    12  31  366
1      19810102 -96.995817  44.240366   347198400000  ...  1981     1   1    1
2      19810103 -96.995817  44.240366   347284800000  ...  1981     1   2    2
3      19810104 -96.995817  44.240366   347371200000  ...  1981     1   3    3
4      19810105 -96.995817  44.240366   347457600000  ...  1981     1   4    4
...         ...        ...        ...            ...  ...   ...   ...  ..  ...
15535  20230715 -96.995817  44.240366  1689336000000  ...  2023     7  14  195
15536  20230716 -96.995817  44.240366  1689422400000  ...  2023     7  15  196
15537  20230717 -96.995817  44.240366  1689508800000  ...  2023     7  16  197
15538  20230718 -96.995817  44.240366  1689595200000  ...  2023     7  17  198
15539  20230719 -96.995817  44.240366  1689681600000  ...  2023     7  18  199

[15540 rows x 13 columns]

In [3]:

from src.ndvi import ppt_temp_ndvi_pasture2

In [5]:
ppt_temp_ndvi_pasture2

,id,longitude,latitude,time,tmean,tmax,tmin,ppt,Timestamp,Year,Month,Day,DOY,NDVI,GD,GDD
0,19810101,-96.995817,44.240366,347112000000,-1.088,2.786,-4.963,0,1980-12-31,1980,12,31,366,NaN,0.000000,0.000000
1,19810102,-96.995817,44.240366,347198400000,-5.28,1.035,-11.595,0,1981-01-01,1981,1,1,1,NaN,0.000000,0.000000
2,19810103,-96.995817,44.240366,347284800000,-10.078,2.153,-22.309999,0,1981-01-02,1981,1,2,2,NaN,0.000000,0.000000
3,19810104,-96.995817,44.240366,347371200000,-17.269001,-12.532,-22.006001,0,1981-01-03,1981,1,3,3,NaN,0.000000,0.000000
4,19810105,-96.995817,44.240366,347457600000,-10.875001,-6.448,-15.302,0,1981-01-04,1981,1,4,4,NaN,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15535,20230715,-96.995817,44.240366,1689336000000,21.465199,27.827099,15.103499,0,2023-07-14,2023,7,14,195,NaN,16.465199,1158.464663
15536,20230716,-96.995817,44.240366,1689422400000,18.3174,24.317699,12.3173,0,2023-07-15,2023,7,15,196,NaN,13.317400,1171.782063
15537,20230717,-96.995817,44.240366,1689508800000,16.132099,23.4783,8.786,0,2023-07-16,2023,7,16,197,0.346883,11.132099,1182.914162
15538,20230718,-96.995817,44.240366,1689595200000,16.972599,22.364199,11.5812,0,2023-07-17,2023,7,17,198,NaN,11.972599,1194.886761
15539,20230719,-96.995817,44.240366,1689681600000,20.289099,25.7759,14.8025,0.461,2023-07-18,2023,7,18,199,NaN,15.289099,1210.175859